//
// OWW Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------

@oww-dark-gray:             #3b3b3b; 
@oww-light-gray:			#bbbbbb;

// Brand Colors

@oww-poppy: 				#f05323;

// Scaffolding
// -------------------------

@oww-body-bg:               #fff;
@oww-text-color:            @oww-dark-gray;
@oww-container-width:       1280px;

// Links
// -------------------------

// Typography
// -------------------------

@oww-font-thin:  "district_thinthin", Helvetica, Arial, sans-serif;
@oww-font-bold:  "district_boldbold", Helvetica, Arial, sans-serif;
@oww-font-light:  "district_lightlight", Helvetica, Arial, sans-serif;
@oww-font-book:  "district_thinthin", Helvetica, Arial, sans-serif;
@oww-font-medium:  "district_thinthin", Helvetica, Arial, sans-serif;

@oww-font-size-base:16px;

//Headings

@oww-font-size-h1:            floor(@oww-font-size-base * 2.25); // ~36px
@oww-font-size-h2:            floor(@oww-font-size-base * 1.5); // ~24px
@oww-font-size-h3:            ceil(@oww-font-size-base * 1.125); // ~18px
@oww-font-size-menu: 		  ceil(@oww-font-size-base * .8125); // ~13px
@oww-font-size-date: 		  ceil(@oww-font-size-base * .75); // ~12px


//Small Screen Headings

@oww-font-size-h1-small: 	floor(@oww-font-size-base * 1.75); // ~28px
@oww-font-size-h2-small: 	floor(@oww-font-size-base * 1.25); // ~20px
@oww-font-size-h3-small: 				  @oww-font-size-base; // ~16px


//Extra Small Screen Headings

@oww-font-size-h1-xs: 	floor(@oww-font-size-base * 1.25); // ~20px
@oww-font-size-h2-xs: 				  @oww-font-size-base; // ~16px
@oww-font-size-h3-xs: 	ceil(@oww-font-size-base * .8125); // ~13px


// Components
@line-height-large:              1.3125;



body {
    color: @oww-dark-gray; 
    font-family: @oww-font-book;
    font-size: @oww-font-size-base;
    line-height: @line-height-large;
    
}

ul, li {
	line-height:20px;	
}

h1 {
		color: @oww-poppy !important;
		font-family: @oww-font-thin;
		font-weight:300;
		font-size: @oww-font-size-h1;
	
} 

h2 {
	font-size: @oww-font-size-h2;
	font-weight:normal;
	color: @oww-dark-gray; 
}

h3 {
	font-weight:300;
}
		
p {
		
	font-size:@oww-font-size-base;
	font-family:@oww-font-light;
	color: @oww-dark-gray;
	line-height:@line-height-large;
		
}

.orange-link {
	text-transform:uppercase;
	color: @oww-poppy;
}		

// Container

.container.landing {
	width:auto !important;	
	padding:0px;
	margin:0px;
	overflow:hidden;
	
}

.landing {
	position:relative;
}


//Navigation Styles

.btn.find-housing  {
	background-color:white;
	border:solid 1px @oww-light-gray;
	font-size:12px;
	margin-right:0px;
	margin-left:0px;
	width:auto;
	padding:7px;
	border-radius:0px;
	position:relative;
	left:70px;
	top:3px;
	
}

.btn.active.mobile-toggle.contraction {
	border:solid 1px purple;
	background-image: url(../../images/icons/icon-mobile-contract.jpg);
}

.btn.mobile-toggle.contraction {
	border:solid 1px purple;
	background-image: url(../../images/icons/icon-mobile-contract.jpg);
}

.btn.mobile-toggle.expansion {
	border:solid 1px blue;
	background-image: url(../../images/icons/icon-mobile-expand.jpg) !important;
}

.btn.mobile-toggle {
	background-image: url(../../images/icons/icon-mobile-expand.jpg);
	width:13px;
	height:13px;
	background-repeat:no-repeat;
	background-color:white;
	position:absolute;
	right: 10px;
    top: 32px;
	
}


.btn:active.mobile-toggle,
.btn.active.mobile-toggle {
    background-image: url(../../images/icons/icon-mobile-contract.jpg);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}


#logo {

	img {
		float:left;
		}
	}

.navbar-toggle {
	margin-top:0px;
	border-radius: 0px;
	padding: 11px 10px;
    background-image:url(../../images/icons/icon-mobile-menu.jpg);
}


.navbar-nav > li > a {
	color: @oww-dark-gray;
	font-size: @oww-font-size-menu;
	font-family: @oww-font-thin;
}



.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li.active > a {
	color: @oww-poppy;
	background-color:none;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #ffffff;
} 


/*HEADER OVERLAY*/

#home .over, #vision-leadership .over {
	background-color:white;
	margin: 45px auto;
	padding:35px 30px 35px 30px;
			
}

#news .over {
	background-color:white;
	margin: 45px auto;
	padding:35px 30px 0px 30px;
}

.heading {
	background-color: @oww-poppy;
	opacity:.85;
	padding: 28px 0px 26px 0px;;
	color: white;
	font-family: @oww-font-thin;
	
		h1 {
			margin:0px 0px 10px 0px;
			font-weight:300;
			color:white !important;
			line-height:36px;
		}
		
		h3 {
			font-weight:300;
			margin-bottom:0px;
		}
	}


.oww-header {
	padding-top:30px;
}



/*NEWS PAGE*/

.two, .news.two {
	background-image: url(../../images/sitewide/01.jpg);
	height:512px;	
}


.four, .news.four {
	background-image: url(../../images/sitewide/bg-image-02.jpg);
	height:380px;
}

.six, .news.six {
	background-image: url(../../images/sitewide/02.jpg);
	height:200px;
}

.two, .four, .six {
	background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
}


.three, .five {
	background-color: #FFFFFF;	
}

.five {
	
	.container {
		height:420px;
	}
	
	.col-md-6 {
		padding-left:35px;
	}
	
	.link-archives {
		margin-top:15px;
	}
}


.date {
	font-family:@oww-font-light;
	color: @oww-light-gray;
	font-size:@oww-font-size-date;

	
}



.blurb {
	border-right:solid 1px @oww-light-gray;
	
		h2 {
			font-size:@oww-font-size-h2;
			color: @oww-poppy;
			font-family:@oww-font-light;
			font-weight:normal;
			margin-top:0px;
			
		}
		
		.full-story {
			display:block;
			margin-bottom:35px;
		}
		
		a:link, a:visited{
			color: @oww-poppy !important;
			font-size: @oww-font-size-menu;
			text-transform: uppercase;
			font-weight:bold;
		}
}

.teasers {
	padding-left:35px;
	
}

.news-thumbnails {

	padding:0px;
	
	li {
		list-style-type:none;
		margin-bottom:20px;
	}
	
	img {
		margin-right: 13px;
	}
}


.five .col-md-8{
	padding-top:105px;
	
}


.link-archives {
	display:block;
	height: 60px;
	color: @oww-poppy;
	font-size: @oww-font-size-base;
	font-family: @oww-font-medium;
	border: solid 1px @oww-light-gray;
	line-height:60px;
	margin-bottom:15px;
	margin-top:40px;
	text-align:center;
	text-transform: uppercase;
}
//Section 3


.three {

	.first-col {
		border-right:solid 1px @oww-light-gray;
		padding:42px 35px 42px 0px;

	
	}
	
	.second-col  {
		border-right:solid 1px @oww-light-gray;
		padding: 42px 35px;
	}
	
	
	.third-col {
		border-right:none;
		padding: 42px 35px;
		
	}
	
	
	.media-relations {
		margin-bottom: 65px;
		
			img {
				margin-top:12px;
				margin-right:10px;
			}
		
			h3 {
				margin-bottom:0px;
			}
			
			p {
				margin:0px;
			}
	}
	
	.awards-honors {
		
		.link-archives {
			margin-top:90px;	
		}
		
		
	}

	h1 {
		color: @oww-poppy !important;
		font-family: @oww-font-thin;
		font-weight:300;
	
		} 
		
	h3 {
		text-transform:uppercase;
		font-family: @oww-dark-gray;
		font-size: @oww-font-size-h3;
		font-family: @oww-font-thin;
		font-weight:normal;
		margin-top: 25px;
		margin-bottom: 20px;

	}

}

.latest-releases {
	/*margin-bottom:45px;*/
	
	}

.recent-releases {
	margin-top:10px;
		
	li {
		padding:13px 0px;
		border-bottom: solid 1px @oww-light-gray;
		
	}
}

.awards-honors {
	
	li {
		padding:12px 0px;
		border-bottom: solid 1px @oww-light-gray;
	}
}

.upcoming-events {
	
	h1 {
		color: @oww-poppy;
		font-weight:300;
		font-family: @oww-font-thin;
		margin-top:55px;
	}
}

.first-third-one-third {
	padding-left:0px;
	
	img {
		margin-bottom:10px;
	}
	
}


/*MARRIOTT PAGE*/

#marriott {
	
	.heading {
		
		
		
		h3 {
			margin-top:0px;
		}
	}
	
	.over {
		display:none !important;
	}
	
	.two {
		background-image: url(../../images/marriott/bg-image-01.jpg);
	}
	
	.four {
		background-image: url(../../images/marriott/bg-image-02.jpg);
		height:200px;
	}
	
	.three {
		
		
		h2{
			text-align:center;
			font-weight:300;
			line-height:30px;
			
			
		}
		
		
	}
}


.intro {
			padding: 40px 0px 50px;
			
		}

hr {
	padding:0px;
	margin:0px;
	color: @oww-light-gray;
}		

article.one-third-two-thirds {
	padding: 30px 0px 60px;
	
	h1 {
		margin-bottom:23px;
		
	}
	
	ul {
		margin:12px 0px 20px 0px;
		padding:0px 0px 0px 30px;
	}
}

/*VISION AND LEADERSHIP*/





#vision-leadership {

	.two {
		background-image:url(../../images/vision-leadership/bg-image-01.jpg);
		
	}
	
	.four {
		
		background-image:url(../../images/vision-leadership/bg-image-02.jpg);
	}
	
	.five {
		
		.container {
			height:auto;
		}
	}
	
	.six {
		
		background-image:url(../../images/vision-leadership/bg-image-03.jpg);
	}
	
} 


.executive-committee {
	
	h1 {
		margin-top:60px;
		margin-bottom:20px;
	}
	
	.blurb {
		
		border-right:none;
	}
	
	.link-archives {
		margin-top:10px;
		
	}
	
	.leaders {
	padding-top:120px;
	padding-bottom:55px;
	
	}

	ul.leadership-photos {
	margin-bottom:0px;
	
		li {
		
			list-style-type:none;
			
			}
	
		img {
		
		margin-bottom:20px;
		margin-right:20px;	
		
		}
		
		h3.name {
			margin-top:0px;
			margin-bottom:10px;
		}
		
		p {
		
			a.full-bio {
				color: @oww-poppy;
				font-family: @oww-font-bold;
				font-size:14px;
				text-transform: uppercase;
				}
		}		
	}
}



/*Industry Affiliations*/

.industry-logos {
	
	
}



/*FOOTER */

footer {
	padding-top:50px;
	
	.footer-lists {
		font-size:12px;
		padding:0px;
		
		li {
			list-style-type:none;
		}
	}
	
	.btn-footer {
		display:block;
		color:white;
		background-color: @oww-poppy;
		text-align:center;
		text-transform:uppercase;
		width:140px;
		height:45px;
		line-height:42px;
		margin-right:2px;
	}
	
	h5 {
		text-transform:uppercase;
		color: @oww-light-gray;
	}
	
	.page-links {
	
		a:link, a:visited {
			color:@oww-dark-gray;
		
		}
	
	}
	
}




/*Media Queries*/

@media (min-width: 992px)
{
    #collapseTwo,  #collapseThree,  #collapseFour, #collapseFive
    {
        display: block;
    }
    
    .panel-heading {
	    display:none;
    }
    
    .panel-body {
		padding:0px;    
	    
    }
    
    
}

@media (max-width:972px) {
	.three .first-col, .three .second-col  {
		border-right:none
	}
	
	
}


@media (min-width: 768px) {
	.navbar-nav {
		float:left;
	}
	
	.find-housing
    {
        display: none;
    }
}




	.accordion {
		padding:none;
	}

     
     .panel-default > .panel-heading {
	     background-color:white;
	     border-bottom: solid 1px @oww-light-gray;
	     border-right: none;
	     border-top: none;
	     border-radius:none;
     }
     
     .latest-news .panel-default > .panel-heading {
	     border-top:none;
	     
     }
     
     .panel-heading.last-item {
	     border-bottom: solid 1px @oww-light-gray;
     }
 
     
    
     .panel-default {
	     border:none;
     }
     
     .panel {
	     margin-bottom:0px;
	     box-shadow:none;
	    
     }
     
     .panel-heading {
	     border-bottom:none;
	     border-radius:0px;
     }
     
     
      .panel-body {
	       border-bottom: none;
	       
      }  
      
      .panel-default > .panel-heading + .panel-collapse .panel-body {
	      border-top:none;
      }
     
@media (min-width: 1px) and (max-width: 480px) { 

	p, li { font-size:90%;}
                    
    .heading {
	    
	    h1 {
		    line-height:20px;
	    }
    }
    
    h1 { 
    
    	font-size: @oww-font-size-h1-xs;
    
    }
    
     h2 { 
    
		 font-size: @oww-font-size-h2-xs;
    
    }
    
     h3 { 
    
		 font-size: @oww-font-size-h3-xs;
    
    }

	.two {
		background-image: url(../../images/sitewide/mobile-bg-image-01.jpg);
		background-repeat:no-repeat;
		height:200px;
		background-attachment:scroll;
	
	
	}
	
	
	
	#logo {
		
		img {
			width:120px;
		}
	}
	
	.navbar-nav>li>a {
		font-size: @oww-font-size-h3;
	}
	
	
	.intro {
			padding: 40px 15px 50px;
			
		}
	
	.executive-committee {
	
		.leaders {
			padding-top:0px;
			padding-bottom:0px;
		}
	}
	
	article.one-third-two-thirds {
		
		ul {
			margin-bottom: 20px;
			padding-left: 15px;
		}
	}

}   

@media (min-width: 768px) and (max-width: 992px) { 

	article.one-third-two-thirds {
			
			ul {
				margin-bottom:40px;
			}
			
		}

	
	
}   


@media (min-width: 1px) and (max-width: 992px) { 

		
	.executive-committee {
	
		.leaders {
			padding-top:40px;
			padding-bottom:0px;
		}
		
		
		.first-third-one-third {
			padding-left:55px;
		}
	}
	
	}   


@media (min-width: 1px) and (max-width: 992px) { 

	.three {
	

		.cols, .latest-news, .events-mobile  {
			padding: 0px !important;
		}
		
		.link-archives {
			line-height:40px;
			height:40px;
			margin:0px;
		}
		
		.awards-honors {
		
			.link-archives {
				margin-top:10px !important;	
			}

	
		}
				
		
	}

	.five .col-md-8{
		padding-top:0px;
	
		}

		.five h1 {
			padding-top:50px;
	}
	
	
}

@media (min-width: 768px) and (max-width: 1200px) {

.navbar-nav > li > a {
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
}


@media (min-width: 481px) and (max-width: 1200px) {
	
	h1 {
		font-size:@oww-font-size-h1-small;
	}
	
	h2 {
		font-size:@oww-font-size-h2-small;
	}
	
	h3 {
		font-size:@oww-font-size-h3-small;
	}
	
	
	
	p {
		font-size: 15px;
	}
	
	
	
	.three {
	
		h3 {
		font-size: 16px;
	}	
	
		.first-col {
			padding: 42px 20px 42px 0px;
		}
		
		.second-col {
			padding: 42px 20px;
		}
		
		.third-col {
			padding: 42px 20px;
		}
	}
} 

 /*End Media query*/
