//
// OWW Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------

@oww-dark-gray:             #3b3b3b; 
@oww-light-gray:			#bbbbbb;

// Brand Colors

@oww-poppy: 				#f05323;

// Scaffolding
// -------------------------

@oww-body-bg:               #fff;
@oww-text-color:            @oww-dark-gray;
@oww-container-width:       1280px;

// Links
// -------------------------

// Typography
// -------------------------

@oww-font-thin:  "district_thinthin", Helvetica, Arial, sans-serif;
@oww-font-bold:  "district_boldbold", Helvetica, Arial, sans-serif;
@oww-font-light:  "district_lightlight", Helvetica, Arial, sans-serif;
@oww-font-book:  "district_thinthin", Helvetica, Arial, sans-serif;
@oww-font-medium:  "district_thinthin", Helvetica, Arial, sans-serif;

@oww-font-size-base:16px;

//Headings

@oww-font-size-h1:            floor(@oww-font-size-base * 2.25); // ~36px
@oww-font-size-h2:            floor(@oww-font-size-base * 1.5); // ~24px
@oww-font-size-h3:            ceil(@oww-font-size-base * 1.125); // ~18px
@oww-font-size-menu: 		  ceil(@oww-font-size-base * .875); // ~14px
@oww-font-size-date: 		  ceil(@oww-font-size-base * .75); // ~12px

// Components
@line-height-large:              1.3125;



body {
    color: @oww-dark-gray; 
    font-family: @oww-font-book;
    font-size: @oww-font-size-base;
    line-height: @line-height-large;
    
}

ul, li {
	
	line-height:20px;
	
}

h1 {
		color: @oww-poppy !important;
		font-family: @oww-font-thin;
		font-weight:300;
	
		} 

// Container

.container.landing {
	width:auto !important;	
	padding:0px;
	margin:0px;
	border : solid 1px black;
	overflow:hidden;
	
}

.landing {
	position:relative;
}



.find-housing{
	padding:0px;
	
}


.btn.find-housing  {
	background-color:white;
	border:solid 1px @oww-light-gray;
	font-size:12px;
	margin-right:0px;
	margin-left:0px;
	width:auto;
	padding:6px;
}


.btn.mobile-toggle {

	background-image: url(../../images/icons/icon-mobile-expand.jpg);
	background-color:white;
	position:absolute;
	right: 10px;
    top: 32px;
	width:13px;
	height:13px;
	background-repeat:no-repeat;
}

.btn:active.mobile-toggle,
.btn.active.mobile-toggle {
    background-image: url(../../images/icons/icon-mobile-contract.jpg);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}


#logo {

	img {
		float:left;
		}
	}

.container-fixed {
	width:1170px;
	border:solid 1px red;
	
}

.navbar-toggle {
	margin-top:0px;
	
    background-image:url(../../images/icons/icon-mobile-menu.jpg);
}




.two {
	background-image: url(../../images/sitewide/bg-image-01.jpg);
	height:512px;
		
	
	
}

.source-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.four {
	background-image: url(../../images/sitewide/bg-image-02.jpg);
	height:380px;
}

.six {
	background-image: url(../../images/sitewide/bg-image-03.jpg);
	height:200px;
}

.two, .four, .six {
	background-attachment: fixed;
    background-position: center center;
   background-size: cover;
   background-repeat:no-repeat;
}

.content-container {
	width:1170px;
}

.three {
	background-color: #FFFFFF;
	
	.container {
		
	}
}

.five {
	background-color: #ffffff;
	
	.container {
		height:420px;
	}
}

footer {
	height:250px;
	
}

p {
		
	font-size:@oww-font-size-base;
	font-family:@oww-font-light;
	color: @oww-dark-gray;
	line-height:@line-height-large;
		
}

.date {
	font-family:@oww-font-light;
	color: @oww-light-gray;
	font-size:@oww-font-size-date;

	
}


//Navigation Styles

.navbar-nav > li > a {
	color: @oww-dark-gray;
	font-size: @oww-font-size-date;
	font-family: @oww-font-thin;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	color: @oww-poppy;
	background-color:none;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #ffffff;
} 

.oww-header {
	padding: 5% 0px;;
}

//header overlay 

.header-overlay {
	padding:40px;
	margin:35px 0px;
	background-color:#ffffff;
	min-height:350px;
	
	section {
		background-color:#ffffff;
	}
}

@media (min-width: 1px) and (max-width: 992px) { 

.header-overlay {
	padding:0px;
	
}


 }



.heading {
	background-color: @oww-poppy;
	opacity:.9;
	padding: 0px 0px;
	color: white;
	font-family: @oww-font-thin;
	
		h1 {
			margin:0px;
			font-weight:normal;
			color:white !important;
			line-height:60px;
		}
	}


//modules

.headline {
	/*width:300px;*/	
	font-size: .9em;
}

.teasers {
	padding-left:35px;
}

.blurb {
	padding:0 2%;
	border-right:solid 1px @oww-light-gray;
	
		h2 {
			font-size:@oww-font-size-h2;
			color: @oww-poppy;
			font-family:@oww-font-light;
			font-weight:normal;
			
		}
		
		.full-story a:link{
			color: @oww-poppy;
			font-size: @oww-font-size-menu;
			text-transform: uppercase;
			font-weight:bold;
		}
}

.news-thumbnails {

	padding:0px;
	
	li {
		list-style-type:none;
		margin-bottom:20px;
	}
	
	img {
		margin-right: 13px;
	}
}


.five .col-md-8{
	padding-top:105px;
	
}

.link-archives {
	display:block;
	height: 60px;
	color: @oww-poppy;
	font-size: @oww-font-size-base;
	font-family: @oww-font-medium;
	border: solid 1px @oww-light-gray;
	line-height:60px;
	margin: 55px 0px;
	text-align:center;
}
//Section 3

@media (min-width: 1px) and (max-width: 992px) { 

.three{
	

		.press-room, .in-the-news, .press-third-col, .latest-news  {
			padding: 0px !important;
		}
		
		.link-archives {
			margin:0px;
			line-height:40px;
			height:40px;
		}
	
	}

.five .col-md-8{
	padding-top:0px;
	
}

.five h1 {
	padding-top:50px;
}
	
	
}

.three {

	.press-room, .in-the-news, .press-third-col  {
		border-right:solid 1px @oww-light-gray;
		padding: 42px 35px;
	}
	
	
	
	.media-relations {
		margin-bottom: 65px;
		
			img {
				margin-top:12px;
				margin-right:10px;
			}
		
			h3 {
				margin-bottom:0px;
			}
			
			p {
				margin:0px;
			}
	}

	h1 {
		color: @oww-poppy !important;
		font-family: @oww-font-thin;
		font-weight:300;
	
		} 
		
	h3 {
		text-transform:uppercase;
		font-family: @oww-dark-gray;
		font-size: @oww-font-size-h3;
		font-family: @oww-font-thin;
		font-weight:normal;

	}

}

.latest-releases {
	margin-bottom:45px;
	
	}

.recent-releases {
	
	li {
		padding:12px 0px;
		border-bottom: solid 1px @oww-light-gray;
	}
}

.awards-honors {
	
	li {
		padding:12px 0px;
		border-bottom: solid 1px @oww-light-gray;
	}
}

.upcoming-events {
	
	h1 {
		color: @oww-poppy;
		font-weight:300;
		font-family: @oww-font-thin;
	}
}

.events-blurb {

	img {
		margin-bottom:10px;
	}
	
}


@media (min-width: 972px)
{
    #collapseTwo,  #collapseThree,  #collapseFour, #collapseFive
    {
        display: block;
    }
    
    .panel-heading {
	    display:none;
    }
}

.hidden-md {
	
}

     
     .panel-default > .panel-heading {
	     background-color:white;
	     border-bottom: solid 1px @oww-light-gray;
	     border-top: none;
     }
     
     .panel-default {
	     border:none;
     }
     
     .panel {
	     margin-bottom:0px;
	     box-shadow:none;
	     border-radius:0px;;
     }
     
     
        
     
@media (min-width: 1px) and (max-width: 400px) { 

	body p { font-size:90%;}
                    
    h1 { font-size:1.15em;}

	.two {
	
	background-repeat:no-repeat;
	height:200px;
	
	
	}
	
	#logo {
		
		img {
			
		}
	}

	

}     
